// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.stockbox__heading--h3 {
    margin: 1em 0 0.5em 0;
}

.pt-4, .py-4 {
    padding-top: 0 !important;
}

a {
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #f66d9b;
    text-decoration: underline;
}
