// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.stockbox__heading--h3 {
    margin: 1em 0 0.5em 0;
}

.pt-4, .py-4 {
    padding-top: 0 !important;
}

a {
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #FEC8D8;
    text-decoration: underline;
}

.btn-danger {
    color: #fff;
    background-color: rgb(210, 145, 188);
    border-color: rgb(210, 145, 188);
}

.btn-danger:hover {
    color: #fff;
    background-color:  rgb(210, 145, 188, 0.8);
    border-color: rgb(210, 145, 188);
}
